.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
}


@media (max-width: 640px) {
    .short-text { display: inline-block; }
    .full-text { display: none; }
  
    .page-button{
        font-size: 1em;
        padding: 0.5em, 0.5em;
      }
  }
   