.main-page-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

@media (max-width: 640px) {
    .main-page-body{
        height: 60vh;}
    }